page-skill {
.scroll-content{
        // background-color: #FAFAFA;
    }

    .box1, .box2, .box3, .box4{
        background-color: #FFFFFF;
        box-shadow: 0 0 3px gray;
        margin-bottom: 20px;
        border-radius: 3px 3px 3px 3px;

        
    }
    .seg{
        margin-bottom: 10px;
    }

    h1{
        font-size: 6.2vw;
        color: #2196F3;
        
    }
    h2{
        padding-top: 5%;
        margin-left: 5%;
        font-size: 5.5vw;
        width: 100%;
        color: #2196F3;
    }

    ion-card {
        width: 20%;
        height: 40px;
        // padding: 20px;
        text-align: center;
    }

    .skillItem{  //skill箱
        display:flex;
        flex-wrap:wrap;
    }


    .textArea{
        // margin-left: 2em;
        width: 100%;
    }

    .skillTitle{  //skill名

        color: #2196F3;
        margin-left: 12%;
        font-size: 4.5vw;
    }

    .skillDetail{  //skill詳細
        font-size: 2.5vw;
        margin-left: 20%;
        margin-top: -10px;
        margin-bottom: -5px;
    }


    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

input[type="checkbox"] { 
    display: none;
    
 }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
//   color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
//   border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
//   -webkit-transition: all .12s, border-color .08s;
//   transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: 30%;
  left: 7%;
  border-radius: 0;
  opacity: 1;
  border: 1px solid #6cc0e5;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
}
