page-detail {
    .scroll-content{
        background-color: #FAFAFA;
    }

    .box1, .box2, .box3, .box4{
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        display:flex;
        flex-wrap:wrap;
        margin-bottom: 20px;
    }

    .name, .value{
        width: 50%;
        display: inline-blick;
        padding: 10px;
        box-sizing: border-box;
    
    }
    h1{
        font-size: 6.5vw;
        color: #2196F3;
        
    }

    .name{
        font-size: 4.5vw;
        color: #2196F3;
    }
    
    .nameLong{
        width: 60%;
        display: inline-blick;
        padding: 10px;
        box-sizing: border-box;
        font-size: 4.5vw;
        color: #2196F3;
    }
    
    .value{
        font-size: 6vw;
        width: 46%;
        margin-top: -20px;
        margin-left: 4%;
    }

}
